body{
    background-color: rgb(61, 59, 59);
}
.calculator {
    width: 200px;
    margin: 0 auto;
    text-align: center;
    
  }
  
  #display {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 25px;
    border: 1px solid black;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .button-row {
    display: flex;
    justify-content: center;
    
  }
  
  button {
    width: 55px;
    height: 55px;
    font-size: 16px;
    margin: 5px;
    background-color: rgb(243, 162, 11);
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    
  }
.titulo{
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}

  